In [103]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
!which chromedriver

/usr/local/bin/chromedriver

In [100]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [12]:
title = soup.title.text
print(title)

News  – NASA’s Mars Exploration Program

In [24]:
latest_articles = soup.find_all('li', class_='slide')
latest_article = latest_articles[0]
print(latest_article.prettify())

<li class="slide">
 <div class="image_and_description_container">
  <a href="/news/8371/curiosity-on-the-move-again/" target="_self">
   <div class="rollover_description">
    <div class="rollover_description_inner">
     NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles.
    </div>
    <div class="overlay_arrow">
     <img alt="More" src="/assets/overlay-arrow.png"/>
    </div>
   </div>
   <div class="list_image">
    <img alt="A self-portrait of NASA's Curiosity rover taken on Sol 2082 (June 15, 2018). A Martian dust storm has reduced sunlight and visibility at the rover's location in Gale Crater." src="/system/news_items/list_view_images/8371_PIA22486_320x240.jpg"/>
   </div>
   <div class="bottom_gradient">
    <div>
     <h3>
      Curiosity on the Move Again
     </h3>
    </div>
   </div>
  </a>
  <div class="list_text">
   <div class="list_date">
    November  6, 2018
   </div>
   <div class="content_title">
    <a href="/news/8371/curiosity-on-the-move-again/" target="_self">
     Curiosity on the Move Again
    </a>
   </div>
   <div class="article_teaser_body">
    NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles.
   </div>
  </div>
 </div>
</li>

In [25]:
latest_news = latest_article.find_all('div', class_='content_title')
print(latest_news[0].prettify())

<div class="content_title">
 <a href="/news/8371/curiosity-on-the-move-again/" target="_self">
  Curiosity on the Move Again
 </a>
</div>

In [31]:
news_title = latest_news[0].a.text
print(news_title)

Curiosity on the Move Again

In [34]:
latest_p = latest_article.find_all('div', class_='article_teaser_body')
print(latest_p[0].prettify())

<div class="article_teaser_body">
 NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles.
</div>

In [36]:
news_p = latest_p[0].text
print(news_p)

NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles.

In [64]:
featured_img_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(featured_img_url)

In [65]:
featured_img_soup = BeautifulSoup(browser.html, 'lxml')

In [66]:
image_info = featured_img_soup.find_all('article', class_='carousel_item')
print(image_info[0].prettify())

<article alt="LDSD on the Launch Tower" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA19343-1920x1200.jpg');">
 <div class="default floating_text_area ms-layer">
  <h2 class="category_title">
  </h2>
  <h2 class="brand_title">
   FEATURED IMAGE
  </h2>
  <h1 class="media_feature_title">
   LDSD on the Launch Tower
  </h1>
  <div class="description">
  </div>
  <footer>
   <a class="button fancybox" data-description="NASA's Low-Density Supersonic Decelerator hangs from a launch tower at U.S. Navy's Pacific Missile Range Facility in Kauai, Hawaii. The saucer-shaped vehicle will test two devices for landing heavy payloads on Mars." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA19343_ip.jpg" data-link="/spaceimages/details.php?id=PIA19343" data-title="LDSD on the Launch Tower" id="full_image">
    FULL IMAGE
   </a>
  </footer>
 </div>
 <div class="gradient_container_top">
 </div>
 <div class="gradient_container_bottom">
 </div>
</article>

In [67]:
# url split reference from https://stackoverflow.com/questions/24981963/extracting-url-from-style-background-url-with-beautifulsoup-and-without-regex
image_url = image_info[0]['style'].split("('", 1)[1].split("')")[0] 
featured_image_url = "https://www.jpl.nasa.gov" + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19343-1920x1200.jpg

In [98]:
mars_weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(mars_weather_url)

In [91]:
mars_weather_soup = BeautifulSoup(browser.html, 'lxml')

In [92]:
weather_info = mars_weather_soup.find_all('div', class_='tweet')
mars_weather = weather_info[0].p.text
print(mars_weather)

Sol 2224 (2018-11-08), high 0C/32F, low -72C/-97F, pressure at 8.65 hPa, daylight 06:19-18:36

In [101]:
mars_facts_url = 'http://space-facts.com/mars/'
browser.visit(mars_facts_url)

In [102]:
mars_facts_soup = BeautifulSoup(browser.html, 'lxml')

In [104]:
tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [111]:
df = tables[0]
df.columns = ['Fact Names', 'Fact Values']
df.head()

             Fact Names                    Fact Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [112]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact Names</th>\n      <th>Fact Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [113]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Fact Names</th>      <th>Fact Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [114]:
df.to_html('mars_facts_table.html')

In [146]:
!open mars_facts_table.html

In [117]:
mars_hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(mars_hemi_url)

In [118]:
mars_hemi_soup = BeautifulSoup(browser.html, 'lxml')

In [145]:
#hemispheres = mars_hemi_soup.find_all('div', class_='description')
#for hemisphere in hemispheres:
    #print(hemisphere.prettify())
hemispheres = mars_hemi_soup.find_all('div', class_='description')
hemisphere_image_urls = []
for hemisphere in hemispheres:
    browser.visit('https://astrogeology.usgs.gov' + hemisphere.a['href'])
    hemi_fullimg_soup = BeautifulSoup(browser.html, 'lxml')
    full_img = hemi_fullimg_soup.find_all('img', class_='wide-image')
    #print(full_img[0]['src'])
    hemi_one = {'title': hemisphere.h3.text,
               'img_url': 'https://astrogeology.usgs.gov' + full_img[0]['src']}
    hemisphere_image_urls.append(hemi_one)
print(hemisphere_image_urls)
    #print(hemisphere.h3.text)
    #print(hemisphere.a['href'])

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]